<h1>Listing samples</h1>
<%= link_to '新段子/台词', new_sample_path %>
<br>
<br>
<table border="1" cellpadding="1" cellspacing="1">
  <tr>
    <th width="500px">Content</th>
    <th width="100px">Type</th>
    <th width="40px"></th>
    <th width="40px"></th>
  </tr>

<% @samples.reverse_each do |sample| %>
  <tr>
    <td style="max-width:500px;padding:5px"><%= sample.content %></td>
    <% if sample.type == 1 %>
    <% 	@type = "笑话" %>
    <% elsif sample.type == 5 %>
    <% 	@type = "三行情诗" %>
    <% else %>
    <% 	@type = "台词" %>
    <% end %>
    <td style="text-align:center"><%= sample.type %> (<%= @type %>)</td>
    <td style="text-align:center"><%= link_to '编辑', edit_sample_path(sample) %></td>
    <td style="text-align:center"><%= link_to '删除', sample, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />


