<h1>声音列表</h1>

<table>
  <tr>
  	<th width="50px" >rid</th>
    <th width="200px" >用户</th>
    <th width="50px" >萌粉数</th>
    <th width="250px" >MediaId</th>
    <th width="30px">声音</th>
    <th>1:笑话2:台词3:清唱4:其他</th>
    <th>评分</th>
    <th></th>
    <th></th>
  </tr>

<% @recs.reverse_each do |rec| %>
  <tr>
  	<% @user = User.where(:uid=>rec.uid).first %>
  	<td style="text-align:center"><%= rec.rid %></td>
    <td style="text-align:center"><%= @user.name %></td>
    <td style="text-align:center"><%= @user.menged_count %></td>
    <%= form_for(rec) do |f| %>
    <td style="text-align:center" width="250px" ><%= f.text_field :MediaId %></td>
    <td><a href="<%= rec.rec_url %>">点我</a></td>
    
    <td><%= f.text_field :category %></td>
    <td><%= f.select(:rate, [['萌', 1], ['不萌', -1], ['中性', 0]]) %></td>
    <td><%= f.submit %></td>
    <% end %>
	<td><%= link_to '删除', rec, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
