<h1>声音列表</h1>
<div id="messageshow" class="messageshow"></div>
<table>
  <tr>
  	<th width="50px" >rid</th>
    <th width="200px" >用户</th>
    <th width="50px" >萌粉数</th>
    <th width="250px" >MediaId</th>
    <th width="30px">声音连接</th>
    <th>分类</th>
    <th>评分</th>
    <th></th>
    <th></th>
  </tr>

<% @recs.reverse_each do |rec| %>
  <tr>
  	<% @user = User.where(:uid=>rec.uid).first %>
  	<td style="text-align:center"><%= rec.rid %></td>
    <td style="text-align:center"><%= @user.name %></td>
    <td style="text-align:center"><%= @user.menged_count %></td>
    <%= form_for(rec, remote: true) do |f| %>
    <td style="text-align:center" width="250px" ><%= f.text_field :MediaId %></td>
    <td><a href="<%= rec.rec_url %>">点我</a></td>
    
    <td><%= f.select(:category, [['笑话', 1], ['台词', 2], ['清唱', 3], ['其他', 4], ['粽子节', 5]]) %></td>
    <td><%= f.select(:rate, [['中性', 0], ['萌', 1], ['不萌', -1]]) %></td>
    <td><%= f.submit %></td>
    <% end %>
	<td><%= link_to '删除', rec, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<br />
