<xml>
	<ToUserName>
		<![CDATA[<%= params[:xml][:FromUserName] %>]]>
	</ToUserName>
	<FromUserName>
		<![CDATA[<%= params[:xml][:ToUserName] %>]]>
	</FromUserName>
	<CreateTime>
		<%= Time.now.to_i %>
	</CreateTime>
	<MsgType>
		<![CDATA[news]]>
	</MsgType>
	<ArticleCount>
		1
	</ArticleCount>
	<Articles>
			<item>
				<Title><![CDATA[<%= @user.name %>]]></Title>
				<Description>
					<![CDATA[目前排名第位，有<%= @user.menged_count %>位萌友萌过你哦~]]>
				</Description>
				<PicUrl>
					<![CDATA[<%= @user.avatar_url %>]]>
				</PicUrl>
				<Url>
					<![CDATA[http://124.16.139.178/users/<%= @user.uid %>]]>
				</Url>
			</item>
	</Articles>
	<FuncFlag>
		0
	</FuncFlag>
</xml>
