<xml>
	<ToUserName>
		<![CDATA[<%= params[:xml][:FromUserName] %>]]>
	</ToUserName>
	<FromUserName>
		<![CDATA[<%= params[:xml][:ToUserName] %>]]>
	</FromUserName>
	<CreateTime>
		<%= Time.now.to_i %>
	</CreateTime>
	<MsgType>
		<![CDATA[news]]>
	</MsgType>
	<ArticleCount>
		3
	</ArticleCount>
	<Articles>
			<item>
				<Title><![CDATA[<%= @user.name %>]]></Title>
				<Description>
					<![CDATA[]]>
				</Description>
				<PicUrl>
					<% @url = @user.avatar_url%>
					<% if @user.avatar_url_L != nil %>
					<%   @url = @user.avatar_url_L%>
					<% end %>
					<![CDATA[<%= @url %>]]>
				</PicUrl>
				<Url>
					<![CDATA[http://124.16.139.178/users/<%= @user.uid %>]]>
				</Url>
			</item>
			<item>
				<Title><![CDATA[目前排名第<%= @user.rank %>位
有<%= @user.menged_count %>位萌友萌过你哦~]]></Title>
				<Description>
					<![CDATA[]]>
				</Description>
				<PicUrl>
					<![CDATA[<%= @user.avatar_url %>]]>
				</PicUrl>
				<Url>
					<![CDATA[http://124.16.139.178/users/<%= @user.uid %>]]>
				</Url>
			</item>
			<item>
				<Title><![CDATA[您目前有<%= @user.rec_count %>段录音
您的声音被听过<%= @user.listened_count %>次咯~]]></Title>
				<Description>
					<![CDATA[]]>
				</Description>
				<PicUrl>
					<![CDATA[http://124.16.139.178:8080/rc/voice3.png]]>
				</PicUrl>
				<Url>
					<![CDATA[http://124.16.139.178/users/<%= @user.uid %>]]>
				</Url>
			</item>
	</Articles>
	<FuncFlag>
		0
	</FuncFlag>
</xml>
