<xml>
	<ToUserName>
		<![CDATA[<%= params[:xml][:FromUserName] %>]]>
	</ToUserName>
	<FromUserName>
		<![CDATA[<%= params[:xml][:ToUserName] %>]]>
	</FromUserName>
	<CreateTime>
		<%= Time.now.to_i %>
	</CreateTime>
	<MsgType>
		<![CDATA[music]]>
	</MsgType>
	<Music>
		<Title><![CDATA[<%= @randomplay.title %>
回复【随便听】/【随便萌】继续；【PK】参与
]]></Title>
		<Description>
			<![CDATA[长按此消息可以转发给微信好友哦～]]>
		</Description>
		<MusicUrl>
			<![CDATA[<%= @randomplay.url %>]]>
		</MusicUrl>
		<HQMusicUrl>
			<![CDATA[<%= @randomplay.url %>]]>
		</HQMusicUrl>
	</Music>
	<FuncFlag>
		0
	</FuncFlag>
</xml>
