<xml>
	<ToUserName>
		<![CDATA[<%= params[:xml][:FromUserName] %>]]>
	</ToUserName>
	<FromUserName>
		<![CDATA[<%= params[:xml][:ToUserName] %>]]>
	</FromUserName>
	<CreateTime>
		<%= Time.now.to_i %>
	</CreateTime>
	<MsgType>
		<![CDATA[news]]>
	</MsgType>
	<ArticleCount>
		<%= [@users.count, 10].min %>
	</ArticleCount>
	<Articles>
		<% @users.each do |user| %>
		<% 	@tmpuser = user %>
		<% 	if @tmpuser.rank == 10 and @user.rank > 10 %>
		<% 	  @tmpuser = @user %>
		<% 	end %>
			<item>
				<Title><![CDATA[No.<%= @tmpuser.rank %> <%= @tmpuser.name %> (<%= @tmpuser.menged_count %>位萌粉)
<%= @tmpuser.overall_rating %>分
]]></Title>
				<Description>
					<![CDATA[]]>
				</Description>
				<PicUrl>
					<% @url = @tmpuser.avatar_url%>
					<% if ((not @tmpuser.avatar_url_L.nil?) and @tmpuser.rank == 1)%>
					<%   @url = @tmpuser.avatar_url_L%>
					<% end %>
					<![CDATA[<%= @url %>]]>
				</PicUrl>
				<Url>
					<![CDATA[http://124.16.139.178/users/<%= @tmpuser.uid %>]]>
				</Url>
			</item>
		<% end %>
	</Articles>
	<FuncFlag>
		0
	</FuncFlag>
</xml>
