<xml>
	<ToUserName>
		<![CDATA[<%= params[:xml][:FromUserName] %>]]>
	</ToUserName>
	<FromUserName>
		<![CDATA[<%= params[:xml][:ToUserName] %>]]>
	</FromUserName>
	<CreateTime>
		<%= Time.now.to_i %>
	</CreateTime>
	<MsgType>
		<![CDATA[news]]>
	</MsgType>
	<ArticleCount>
		<%= @users.count %>
	</ArticleCount>
	<Articles>
		<% count = 0%>
		<% @users.each do |user| %>
		<% count = count + 1%>
			<item>
				<Title><![CDATA[<%= user.name %> (Top <%= count %>)]]></Title>
				<Description>
					<![CDATA[Top <%= count %>]]>
				</Description>
				<PicUrl>
					<![CDATA[<%= user.avatar_url %>]]>
				</PicUrl>
				<Url>
					<![CDATA[http://211.147.15.40/wdcres/wdc/sounds/201305/22/4af3d91e-c2b9-11e2-8370-00163e0104d9_3_.mp3]]>
				</Url>
			</item>
		<% end %>
	</Articles>
	<FuncFlag>
		1
	</FuncFlag>
</xml>
