<xml>
	<ToUserName>
		<![CDATA[<%= params[:xml][:FromUserName] %>]]>
	</ToUserName>
	<FromUserName>
		<![CDATA[<%= params[:xml][:ToUserName] %>]]>
	</FromUserName>
	<CreateTime>
		<%= Time.now.to_i %>
	</CreateTime>
	<MsgType>
		<![CDATA[music]]>
	</MsgType>
	<Music>
		<Title><![CDATA[<%= @rate.text %>
回复【A】或【B】选出胜者，回复【P】两人打平
喜欢某人还可以回复【萌 某人的昵称】哦~例如:萌 麦萌君
还可以把声音转发给微信好友哦~
]]></Title>
		<Description>
			<![CDATA[

]]>
		</Description>
		<MusicUrl>
			<![CDATA[<%= @rate.sound_url %>]]>
		</MusicUrl>
		<HQMusicUrl>
			<![CDATA[<%= @rate.sound_url %>]]>
		</HQMusicUrl>
	</Music>
	<FuncFlag>
		0
	</FuncFlag>
</xml>
