<xml>
	<ToUserName>
		<![CDATA[<%= params[:xml][:FromUserName] %>]]>
	</ToUserName>
	<FromUserName>
		<![CDATA[<%= params[:xml][:ToUserName] %>]]>
	</FromUserName>
	<CreateTime>
		<%= Time.now.to_i %>
	</CreateTime>
	<MsgType>
		<![CDATA[music]]>
	</MsgType>
	<Music>
		<Title><![CDATA[<%= @rate.text %>
听到声音后，回复【A】或【B】选出胜者]]></Title>
		<Description>
			<![CDATA[麦萌温馨提示：缓冲需要时间，等下下~]]>
		</Description>
		<MusicUrl>
			<![CDATA[<%= @rate.sound_url %>]]>
		</MusicUrl>
		<HQMusicUrl>
			<![CDATA[<%= @rate.sound_url %>]]>
		</HQMusicUrl>
	</Music>
	<FuncFlag>
		0
	</FuncFlag>
</xml>
