<xml>
	<ToUserName>
		<![CDATA[<%= params[:xml][:FromUserName] %>]]>
	</ToUserName>
	<FromUserName>
		<![CDATA[<%= params[:xml][:ToUserName] %>]]>
	</FromUserName>
	<CreateTime>
		<%= Time.now.to_i %>
	</CreateTime>
	<MsgType>
		<![CDATA[music]]>
	</MsgType>
	<Music>
		<Title><![CDATA[<%= @rate.text %>

1.回复【A】/【B】选出胜者~
2.喜欢谁就回复
【萌 昵称】，
例如:萌 麦萌君]]></Title>
		<Description>
			<![CDATA[长按此消息可以转发给微信好友哦～]]>
		</Description>
		<MusicUrl>
			<![CDATA[<%= @rate.sound_url %>]]>
		</MusicUrl>
		<HQMusicUrl>
			<![CDATA[<%= @rate.sound_url %>]]>
		</HQMusicUrl>
	</Music>
	<FuncFlag>
		0
	</FuncFlag>
</xml>
